name = "inneranimalmedia-cidi"
main = "src/index.js"
compatibility_date = "2026-02-28"

[assets]
directory = "./public"
binding = "ASSETS"

[ai]
binding = "AI"

[[d1_databases]]
binding = "DB"
database_name = "inneranimalmedia-business"
database_id = "cf87b717-d4e2-4cf8-bab0-a81268e32d49"

[observability]
enabled = true
